<% if can? :read, Share %>
  <h1>Список акций</h1>
id пользователя: <%= current_user.id %><ul>
    <% @shares.each do |share| %>
	<% if share.owner.blank? || current_user.role == "broker"  %>
      <li>
        
          name: <%= share.name %> <br>
          cost: <%= share.cost %> <br>
          
		  <% if share.owner.blank?%>
		  owner: <br>
		  <% else %>
		  <% user = User.find_by(id: share.owner) %>
		  owner: <%= user.first_name %><br>
		  <% end %>
          <% if can? :edit, Share %>
            <td><%= link_to 'Просмотреть', share %></td>
            <td><%= link_to 'Редактировать', edit_share_path(share) %></td>
            <%= button_to 'Удалить', share, method: :delete, data: { confirm: 'Вы уверены?' } %>
          <% end %>
          <% if can? :trade, Share %>
            <%= form_with url: { action: "buy", id: share.id } do |form| %>
            <%= form.hidden_field :share_id, value: share.id %>
            <%= form.submit 'Купить' %>
            <%= form.hidden_field :buyer_name, value: current_user.id %>
          <% end %>
    <% end %>
		  <% end %>
        <% if share.owner.to_i == current_user.id.to_i && can?(:trade, Share) %> %>
          name: <%= share.name %> <br>
          cost: <%= share.cost %> <br>
		  <% user = User.find_by(id: share.owner) %>
          owner: <%= user.first_name %><br>
          <%= button_to 'Продать', { action: "sell", id: share.id }, method: :put %>
        
		<% end %>
      </li>
    <% end %>
  </ul>
  <p>Текущий пользователь: <%= current_user.first_name %></p>
  <p>Роль: <%= current_user.role %></p>
  <% if can? :edit, Share %>
    <h2>Добавление новой акции</h2>
    <%= form_with model: @share, url: shares_path do |form| %>
      <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div>
        <%= form.label :cost %>
        <%= form.text_field :cost %>
      </div>
      <div>
        <%= form.submit 'Создать' %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h1>Список акций доступен только пользователям с ролью broker или buyer</h1>
<% end %>
